<!DOCTYPE html>
<html lang="en">

  <head>
    <script src="/static/jquery.js" type="text/javascript"></script>
    <script src="/pbsmon/static/pbsmon.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/pbsmon/static/pbsmon.css">

    <title>PBS Monitor </title>
  </head>

  <body>
    <table>
      <tr>
	<th>
	  Host Name
	</th>
	<th>
	  User Name
	</th>
	<th>
	  Job ID
	</th>
	<th>
	  Job Name
	</th>
	<th>
	  Elapsed Time
	</th>
      </tr>

      {% if pbs_jobs %}
      {% for job in pbs_jobs %}
      <tr>
	<td>{{ job.hostname }} </td>
	<td>{{ job.username }} </td>
	<td>{{ job.jobid }} </td>
	<td>{{ job.jobname }} </td>
	<td>{{ job.elapsed_time }} </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
	Nothing.
      </tr>
      {% endif %}

    </table>
  </body>
</html>

